<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %></h1>
    <p>You have successfully setup an account on fakebook.</p>
    <p>Now you can login and start connecting with other users.</p>

    <p>You can log in here: <%= @url %></p>

    <p>All the best</p>
    <p>The Fakebook Team</p>
  </body>
</html>
